<link rel="stylesheet" href="./assets/css/modal.css" />
<header class="special container">
    <br />
    <span class="icon solid fa-chart-bar"></span>
    <h2>We've chosen <strong>some great</strong> vacations for you </h2>
    <span ng-show="error">loading POIs error - {{errorValue.value}}</span>
    <br />
</header>
<!--  -->
<section class="wrapper style1 container special">
    <div class="row" ng-init="getUsersCategories()">
        <div ng-repeat="poi in byCategoryPois" class="col-6 col-12-narrower">
            <section>
                <a ng-click="onModalClick($index, 'myModal')" class="image featured modalPic"><img
                        ng-src={{byCategoryPois[$index].img}} alt="" /></a>
                <header>
                    <h3>{{byCategoryPois[$index].name}}</h3>
                </header>
                <!-- The Modal -->
                <div id="myModal{{$index}}" class="modal">

                    <!-- Modal content -->
                    <section class="wrapper style3 container special">
                        <div class="row">
                            <div class="modal-content{{$index}}">
                                <span ng-click="onXClick($index, 'myModal')" class="close">&times;</span>
                                <section style="color: black">Category: {{threeRandomPopularPOIs[$index].category}}
                                    <br>
                                    Rank: {{byCategoryPois[$index].rank}} Out of 100
                                    <br>
                                    Details: {{byCategoryPois[$index].details}}
                                    <br>
                                    # of Views: {{byCategoryPois[$index].views}}
                                </section>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </div>
    </div>
</section>
<header class="special container">
    <br />
    <span class="icon solid fa-chart-bar"></span>
    <h2>Here's what <strong>you</strong> liked </h2>
    <span ng-show="error">loading Favorite error - {{errorValue.value}}</span>
    <br />
</header>
<section class="wrapper style1 container special">
    <div class="row" ng-init="showFavorites()">
        <div id="firstColumnFavorites" ng-repeat="poi in latestFavorites" class="col-6 col-12-narrower" >
            <section>
                <a ng-click="onModalClick($index, 'myModalFavorite')" class="image featured modalPic"><img ng-src={{latestFavorites[$index].img}} alt="" /></a>
                <header>
                    <h3>{{latestFavorites[$index].name}}</h3>
                </header>
                <!-- The Modal -->
                <div id="myModalFavorite{{$index}}" class="modal">

                        <!-- Modal content -->
                        <section class="wrapper style3 container special">
                            <div class="row">
                                <div class="modal-content{{$index}}">
                                    <span ng-click="onXClick($index, 'myModalFavorite')" class="close">&times;</span>
                                    <section style="color: black">Category: {{latestFavorites[$index].category}}
                                        <br>
                                        Rank: {{latestFavorites[$index].rank}} Out of 100
                                        <br>
                                        Details: {{latestFavorites[$index].details}}
                                        <br>
                                        # of Views: {{latestFavorites[$index].views}}
                                    </section>
                                </div>
                            </div>
                        </section>
                    </div>
            </section>
        </div>
    </div>
</section>