<div id="LogIn" class="inner">
    <!-- log in -->
        <section style="color: azure;">
            <form name ="loginForm" class="form-style-9" action="#"  qn:validate="errors">
                
                
                    <input type="text" ng-model="loginUserName" name="loginUserName" class="field-style field-split align-left" 
                    placeholder="User Name" />
                    <input type="password" ng-model="loginPassword" name="loginPassword" class="field-style field-split align-right" 
                    placeholder="Password" />
                    <span ng:show="loginForm.$serverError.badParams.$invalid"> {{loginForm.$serverError.badParams.message}} <br> </span>                
                    <input type="button" value="Log In" ng-click="tryLogIn()"/>
                    
                                                                            
            </form>
        </section>
</div>
