<!-- Initialize a new AngularJS app and associate it with a module named "instantSearch"-->
<span>
    <link rel="stylesheet" href="./assets/css/searchbar.css" />
    <div class="bar">
        <!-- Create a binding between the searchString model and the text field -->
        <input type="text" ng-model="searchString" placeholder="Search for POIs..." />
    </div>

    <ul>
        <link rel="stylesheet" href="./assets/css/modal.css" />

        <header class="special container">
            <br />
            <span class="icon solid fa-chart-bar"></span>
            <h2>We've chosen some <strong> great</strong> locations for you </h2>
            <span ng-show="error">loading POIs error - {{errorValue.value}}</span>
            <br />
        </header>

        <section class="wrapper style1 container special">
            <div class="row" ng-init="getAllPOIs()">
                <div ng-repeat="poi in sortedPOIs | searchByPOIName:searchString" class="col-4 col-12-narrower">
                    <section>
                        <a ng-click="onModalClick(poi)" class="image featured modalPic"><img
                                ng-src={{sortedPOIs[sortedPOIs.indexOf(poi)].img}} alt="" /></a>
                        <header>
                            <h3>{{sortedPOIs[sortedPOIs.indexOf(poi)].name}}</h3>
                        </header>

                        <!-- The Modal -->
                        <div id="myModal{{poi.name}}" class="modal">

                            <!-- Modal content -->
                            <section>
                                <div class="row">
                                    <div class="modal-content">
                                        <span ng-click="onXClick(poi)" class="close">&times;</span>
                                        <section style="color: black">Category: {{sortedPOIs[sortedPOIs.indexOf(poi)].category}}
                                            <br>
                                            Rank: {{sortedPOIs[sortedPOIs.indexOf(poi)].rank}} Out of 100
                                            <br>
                                            Details: {{sortedPOIs[sortedPOIs.indexOf(poi)].details}}
                                            <br>
                                            # of Views: {{sortedPOIs[sortedPOIs.indexOf(poi)].views}}
                                        </section>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </ul>
</span>