<div id="SignUp" class="inner">
    <!-- sign up -->
    <section style="color: azure;">
            <form name="signupForm" class="form-style-9">
                <ul>
                    
                        <input type="text" name="signupUserName" ng-model="signupUserName" class="field-style field-split align-left" 
                        placeholder="User Name" required/>

                        <span style="color:red" ng-show="validateUsername() || (signupForm.signupUserName.$dirty && signupForm.signupUserName.$invalid)">
                            <span ng-show="signupForm.signupUserName.$error.required">Username is required.</span>
                            <span ng-hide="validateUsername()">Username is shorter then 3 chars, longer than 8 chars, or contains non-letters.</span>
                            </span>
                            
                            <!-- <span style="color:red" ng-show="signupForm.signupUserName.$dirty && signupForm.signupUserName.$invalid">
                                <span ng-hide="validateUsername()">Username is shorter then 3 chars, longer than 8 chars, or contains non-letters.</span>
                                </span> -->

                        <input type="password" name="signupPassword" ng-model="signupPassword" class="field-style field-split align-right" 
                        placeholder="Password" required />
                    
                        <input type="text" name="firstName" ng-model="firstName" class="field-style field-split align-left" 
                        placeholder="First Name" required />
                        <input type="text" name="lastName" ng-model="lastName" class="field-style field-split align-right" 
                        placeholder="Last Name" required />
                    
                        <input type="text" name="city" ng-model="city" class="field-style field-split align-right" 
                        placeholder="City" required/>

                        <input type="text" name="country" ng-model="country" class="field-style field-split align-right" 
                        placeholder="Country" required/>
                    
                        <input type="email" name="email" ng-model="email" class="field-style field-split align-right" 
                        placeholder="Email"  required/>  
                        <input type="date" name="birthday" ng-model="birthday" class="field-style field-split align-left" 
                        placeholder="Birthday" required /> 
                    
                        <input type="button" value="Sign Up" ng-click="validateSignUpForm()" />

                        

                        <p>Username:<br>
                        <input type="text" name="user" ng-model="user" required>
                        <span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
                        <span ng-show="myForm.user.$error.required">Username is required.</span>
                        </span>
                        </p>

                        <p>Email:<br>
                        <input type="email" name="email" ng-model="email" required>
                        <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
                        <span ng-show="myForm.email.$error.required">Email is required.</span>
                        <span ng-show="myForm.email.$error.email">Invalid email address.</span>
                        </span>
                        </p>

                        <p>
                        <input type="submit"
                        ng-disabled="myForm.user.$dirty && myForm.user.$invalid ||  
                        myForm.email.$dirty && myForm.email.$invalid">
                        </p>

                        </form>

                        <script>
                        var app = angular.module('myApp', []);
                        app.controller('validateCtrl', function($scope) {
                            $scope.user = 'John Doe';
                            $scope.email = 'john.doe@gmail.com';
                        });
                        </script>

                </ul>                                                              
            </form>
            <script type="text/javascript" src="users.js"></script>
    </section>
</div> 
